@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;1,900&display=swap');

.imglogo{
  
 width: 50px;
 height: 50px;

}
.navbar-brand {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 1.5rem;
  display: flex;
}
/* Mengubah font pada elemen nav-link */
.nav-link {
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  font-size: 18px;
  color: #fff;
}


.nav-link:hover::after {
  content: "";
  display:block;
  height: 3px;
  background-color: #fff;
  transition: height 0.3s ease-in-out;
}

.navbar-scrolled .nav-link {
  color: #000;
}

.navbar-scrolled .nav-link:hover {
  color: #03256c;
}

.navbar-scrolled .nav-link:hover::after {
  content: "";
  display:block;
  height: 3px;
  background-color: #03256c;
  transition: height 0.3s ease-in-out;
}

.nav-item .active{
  color: #2541B2;
}
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.2s ease-in-out;
  z-index: 999;
}

.navbar-scrolled {
  background-color: #03256c;
}


.navbar .nav-link:hover {
    color: #03256c;
}

.cotainerx{
    max-width: 968px;
    margin-left: auto;
    margin-right: auto;
}

.main-color{
    color: #03256C;
}


h1{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h2{
font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}


h4{
font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

h5{
font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}
p{
  font-family: 'Montserrat';
  font-weight: 400;
}

.home{
    background: url('./assets/background-ocean.jpg') no-repeat center;
      background-repeat: no-repeat;
      background-size: cover;
      background-color: rgba(0, 0, 0, 0.35);
      background-blend-mode: multiply;
}


.section{
  padding: 2rem 0 2rem;
}  

.sectionthree{
        background: url('./assets/bg3.jpg') no-repeat center;
      background-repeat: no-repeat;
      background-size: cover;
}

.sectionfour__img{
    
  background-repeat: no-repeat;
  background-size: cover;
}

.sectionfour__bg1{
    background: url('./assets/plastic.jpg') no-repeat center;
    background-size: cover;

}

.sectionfour__bg2{
    background: url('./assets/plastic-recycling.jpg') no-repeat center;
    background-size: cover;

}

.sectionfour__bg3{
    background: url('./assets/fishing-gear.jpg') no-repeat center;
    background-size: cover;

}

.sectionfour__bg4{
    background: url('./assets/fishing-gear-recycling.jpg') no-repeat center;
    background-size: cover;

  
}




